//Head information common to all

//Meta Tags
meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
meta(charset="utf-8")

//JS Imports
script(src="/js/jquery.js")
script(src="/js/jquery-ui-1.10.3.min.js")
script(src="/js/bootstrap.min.js")
script(src="/js/AdminLTE/app.js")

//CSS Imports
link(rel="stylesheet",href="/css/bootstrap.min.css")
link(rel="stylesheet",href="/css/bootstrap-responsive.min.css")
link(rel="stylesheet",href="/css/font-awesome.min.css")
link(rel="stylesheet",href="/css/ionicons.min.css")
link(rel="stylesheet",href="/css/AdminLTE.css")
link(rel="stylesheet",href="/css/custom/app.css")
