mixin header(options)
  header(class="header")
    a(href="/",class="logo") Mobile CRM
    nav(class="navbar navbar-static-top",role="navigation")
      - if(options && options.show_sidebar){
        a(href="#",class="navbar-btn sidebar-toggle",data-toggle="offcanvas",role="button")
          span(class="sr-only") Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
      - }
