mixin header(options)
  header(class="header")
    a(href="/",class="logo") Mobile CRM
    nav(class="navbar navbar-static-top",role="navigation")
      - if(options && options.show_sidebar){
        a(href="#",class="navbar-btn sidebar-toggle",data-toggle="offcanvas",role="button")
          span(class="sr-only") Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
      - }
      div(class="navbar-left")
        ul(class="nav navbar-nav")
            li(class="dropdown header-menu")
                a(href="#" class="dropdown-toggle" data-toggle="dropdown")
                    span Products
                ul(class="dropdown-menu")
                    li(class="header")
                        a(href="/smartphones") Smartphones
                    li(class="header")
                        a(href="/earphones") Earphones
                    li(class="header")
                        a(href="/watches") Watches
                    li(class="header")
                        a(href="/jeans") Jeans
                    li(class="header")
                        a(href="/t-shirts") T-Shirts



      - if(options && !options.hide_login){
        div(class="navbar-right")
          ul(class="nav navbar-nav")
            li(class="user user-menu")
              a(href="login")
                span Login
      - }
