doctype html
html(lang="en")
  head
    title Mobile CRM
    include /templates/assets.jade
    include /mixins/header.jade
    
  body(class='skin-blue')
    +header()
    div(class="fluid-container")
      div(class="row")
        include /templates/products/details.jade
