doctype html
html(lang="en")
  head
    title Mobile CRM
    include /templates/assets.jade
    include /mixins/header.jade
    include /mixins/products/listings.jade
    include /mixins/checkbox.jade
    include /mixins/radio.jade
    
    script(src="js/custom/filter/FilterController.js")

  body(class='skin-blue')
    +header({show_sidebar: true})
    div(class="wrapper row-offcanvas row-offcanvas-left")
      aside(class="left-side sidebar-offcanvas")
        h3(class="p-l-20")
          strong REFINE
        h4(class="p-l-20") Price
        +checkbox("Rs 10,000 and below")
        +checkbox("Rs 10,000 - Rs 20,000")
        +checkbox("Rs 20,000 - Rs 30,000")
        +checkbox("Rs 30,000 and above")

        h4(class="p-l-20") Brand
        +checkbox("Samsung")
        +checkbox("HTC")
        +checkbox("Micromax")
        +checkbox("Sony")

        h4(class="p-l-20") Offer
        +radio("Yes", "offer")
        +radio("No", "offer")

        h4(class="p-l-20") Warranty
        +radio("Yes", "warranty")
        +radio("No", "warranty")

        div
          button(class="btn btn-success", style="display: block; margin: auto;") FILTER

      aside(class="right-side")
        section(class="content-header")
          h1 Mobiles
        section(class="content")
            +listings(data)
