doctype html
html(lang="en")
  head
    title Mobile CRM
    include /templates/assets.jade
    include /mixins/header.jade
    include /mixins/checkbox.jade
    include /mixins/radio.jade

    script(src="js/custom/filter/FilterController.js")
    script(type="text/javascript").
      filterController();

  body(class='skin-blue')
    +header({show_sidebar: true})
    div(class="wrapper row-offcanvas row-offcanvas-left")
      aside(class="left-side sidebar-offcanvas")
        h3(class="p-l-20")
          strong REFINE
        h4(class="p-l-20") Price
        +checkbox("Rs 10,000 and below", "price", "0|10000")
        +checkbox("Rs 10,000 - Rs 20,000", "price", "10000|20000")
        +checkbox("Rs 20,000 - Rs 30,000", "price", "20000|30000")
        +checkbox("Rs 30,000 and above", "price", "30000|100000")

        h4(class="p-l-20") Brand
        +checkbox("Samsung", "id_brand", 1)
        +checkbox("HTC", "id_brand", 2)
        +checkbox("Micromax", "id_brand", 3)
        +checkbox("Sony", "id_brand", 4)

        h4(class="p-l-20") Offer
        +checkbox("Yes", "offer", 1)

        h4(class="p-l-20") Warranty
        +checkbox("Yes", "warranty", 1)

        div
          button(class="btn btn-success", style="display: block; margin: auto;", name="filter") FILTER

      aside(class="right-side")
        section(class="content-header")
          h1 Mobiles
        section(class="content")
            include /templates/products/listings.jade
