doctype html
html(lang="en")
  head
    title Mobile CRM
    include /templates/assets.jade
    include /mixins/header.jade
    include /mixins/checkbox.jade
    include /mixins/radio.jade

    script(src="js/custom/filter/FilterController.js")
    script(type="text/javascript").
      filterController({id_brand_type: #{id_brand_type}});

  body(class='skin-blue')
    +header({show_sidebar: true})
    div(class="wrapper row-offcanvas row-offcanvas-left")
      aside(class="left-side sidebar-offcanvas")
        h3(class="p-l-20")
          strong REFINE
        h4(class="p-l-20") Price
        +checkbox("Below Rs 2,000", "price", "0|2000")
        +checkbox("Rs 2,001 - Rs 3,000", "price", "2001|3000")
        +checkbox("Rs 3,001 - Rs 4,000", "price", "3001|4000")

        h4(class="p-l-20") Brand
        +checkbox("Titan", "id_brand", 8)
        +checkbox("Fastrack", "id_brand", 9)

        h4(class="p-l-20") Offer
        +checkbox("Yes", "offer", 1)

        h4(class="p-l-20") Warranty
        +checkbox("Yes", "warranty", 1)

        div
          button(class="btn btn-success", style="display: block; margin: auto;", name="filter") FILTER

      aside(class="right-side")
        section(class="content-header")
          h1 Watches
        section(class="content")
            include /templates/products/listings.jade
